{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": "> 1%, last 2 version"
            }
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "style": true
        }],
        "@babel/plugin-proposal-class-properties"
    ]
}